html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----------------------------------------------------*/
body{
	font-size: 1.2rem;
	font-family: serif;
	background: #111111
}

a{
	display: block;
	text-decoration: none;
	color: #ffffff;
}

a:hover{
	color: #2196f3
}

.container{
	width: 1003px;
	/*background: white;*/
	margin: 0 auto;
	margin-bottom:20px;
}

.header{
	position: relative;
}

h1{
	width: 100%;
}

h1 a{
	width: 100%;
	height: 140px;
	text-indent:-9999px;
	background: url('../images/logo_top.png') no-repeat;
}

ul.navigation li {
	z-index: 999999;
    position: relative;
    float: left;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
    display: block;
    padding: 0.5rem;
    /*background: #888;*/
    /*color: #FFF;*/
}

ul.navigation > li > a:hover{
    color: #2196f3;
    background: #DDD
}

/* 特定在第一層 > 第二層之後下拉部分之樣式 */
ul.navigation li ul{
    display: none;
    float: left;
    position: absolute;
    left: 0;    
    margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
    display: block;
}
/* 特定在第二層或之後下拉部分 li 之樣式 */
ul.navigation ul li {
    border-bottom: 1px solid #DDD;
}
/* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
    border-bottom: none;
}

ul.navigation ul a {
	text-align: center;
    width: 215px;
    padding: 10px 12px;    
    color: #666;        
    background: #EEE;
}
ul.navigation ul a:hover {        
    background: #CCC;    
}

ul.navigation ul li:hover > ul{
    display: block;
    position: absolute;
    top: 0;    
    left: 100%;
}


.facebooklink{
	position: absolute;
	display: block;
	right: 10px;
	bottom: -10px
}

.facebooklink i:hover{
	color: #f44336
}

.facebooklink i{
	font-size: 3rem;
	color: #3b5998
}


.whiteline{
	margin-top: 20px;
	height: 1px;
	background: #ffffff
}

.illustration{
	position: relative;
	padding: 1rem 1rem 2rem 1rem;
	color: #ffffff;
	line-height: 2rem;
	margin-top: 10px;
	border-radius: 5px;
	background: #1e1e1e
}

.nano{
	right: 5px;
	position: absolute;
	max-width: 180px;
	display: block;
	color: #2185f3;
	text-align: center;
}

.ppt{
	margin-top: 10px;
}
.ppt img{
	width: 1003px;
}

.youtube{
	margin-top: 20px;
	color: #ffffff;
	line-height: 2rem;
	background: #1b1b1b
}

.youtube p{
	padding: 1rem;
}

.information{
	text-align: center;
	margin-top: 10px;
	color: #ffffff;
}

.information p{
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	/*margin-left: 20px*/
}

.information button{
	text-align: left;
	position: relative;
	color: #bbdefb;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	width: 100px;
	height: 50px;
	background: #919191;
	border: 1px #fafafa solid;
	margin: 0 auto;
}

.information button:hover{
	background: #64b5f6
}

.information button:hover>div{
	border-top: 5px solid #64b5f6;
    border-bottom: 5px solid #64b5f6;

}

.information button>.arrow-right{
	position: absolute;
	right: 5px;
	top: 40%;
}

.information li{
	border-bottom: 1px #ffffff solid;
	height:auto;
}


.information li a{
	margin-top: 20px;
	line-height: 1.5rem;
	/*margin-left: 20px*/
}

button:focus {
	outline: 0
}

button:active{
	border: 0;
}

.article ,.product ,.activity{
	width: 33%;
	float: left;
}

.product {
	border-left: 1px #ffffff solid;
	border-right: 1px #ffffff solid;
}

.footer{
	padding: 1rem;
	color: #ffffff
}

.branches{
	width: 600px;
	/*margin-left: 10px;*/
	margin: 0  auto;
}

.branches li{
	/*margin-left: 50px;*/
	width: 300px;
	float: left;
	margin-top: 10px
}

.branches li>p:first-child{
	color: #9e9;
	font-weight: bold;
}

.logo{
	width: 621px;
	/*height: auto;*/
	margin:0 auto;
}

.logo img{
	width: 100%;
	height: auto;
}

.copyright{
	padding: 1rem;
	text-align: center;
	margin:0 auto;
	color: #ffffff
}

.clear{
	clear: both;
}

	
.arrow-right{
	border-top: 5px solid #919191;
    border-left: 10px solid #ffebee;
    border-bottom: 5px solid #919191;
    display: inline-block;
}

